<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${title}"></title>
</head>
<body>
<h3 th:text="${title}"></h3>

<!--
  th:field -> It get a field ot the object which you have declared into th:object
 -->
<form th:action="@{/form}" th:object="${user}" method="POST">
  <div>
    <label for="firstname">Firstname</label>
    <div>
      <input id="firstname" type="text" th:field="*{firstname}" />
    </div>
    <div th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></div>
  </div>
  <div>
    <label for="lastname">Lastname</label>
    <div>
      <input id="lastname" type="text" th:field="*{lastname}" />
    </div>
    <div th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></div>
  </div>
  <div>
    <label for="username">Username</label>
    <div>
<!--      <input id="username" type="text" name="username" th:value="${myuser?.username}">-->
      <input id="username" type="text" th:field="*{username}" />
    </div>
<!--    <div th:if="${error != null && error.containsKey('username')}" th:text="${error.username}"></div>-->
    <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
  </div>
  <div>
    <label for="password">Password</label>
    <div>
      <input id="password" type="password" name="password" />
    </div>
<!--    <div th:if="${error != null && error.containsKey('password')}" th:text="${error.password}"></div>-->
    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
  </div>
  <div>
    <label for="email">Email</label>
    <div>
<!--      <input id="email" type="email" name="email" th:value="${myuser?.email}">-->
      <input id="email" type="text" th:field="*{email}" />
    </div>
<!--    <div th:if="${error != null && error.containsKey('email')}" th:text="${error.email}"></div>-->
    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
  </div>
  <div>
    <div>
      <button type="submit">Enviar</button>
    </div>
  </div>
</form>
</body>
</html>