<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${title}"></title>
</head>
<body>
<h3 th:text="${title}"></h3>

<!--
  th:field -> It get a field ot the object which you have declared into th:object
 -->
<form th:action="@{/form}" th:object="${user}" method="POST">
  <div>
    <label for="country">País</label>
    <div>
      <select id="country" th:field="*{country}" >
        <option value="">--selecionar</option>
        <option th:each="country: ${countries}" th:value="${country}" th:text="${country}"></option>
      </select>
    </div>
    <div th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></div>
  </div>
  <div>
    <label for="identity">Identity</label>
    <div>
      <input type="text" id="identity" th:field="*{identity}"/>
    </div>
    <div th:if="${#fields.hasErrors('identity')}" th:errors="*{identity}"></div>
  </div>
  <div>
    <label for="firstname">Firstname</label>
    <div>
      <input id="firstname" type="text" th:field="*{firstname}" />
    </div>
    <div th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></div>
  </div>
  <div>
    <label for="lastname">Lastname</label>
    <div>
      <input id="lastname" type="text" th:field="*{lastname}" />
    </div>
    <div th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></div>
  </div>
  <div>
    <label for="username">Username</label>
    <div>
<!--      <input id="username" type="text" name="username" th:value="${myuser?.username}">-->
      <input id="username" type="text" th:field="*{username}" />
    </div>
<!--    <div th:if="${error != null && error.containsKey('username')}" th:text="${error.username}"></div>-->
    <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
  </div>
  <div>
    <label for="password">Password</label>
    <div>
      <input id="password" type="password" name="password" />
    </div>
<!--    <div th:if="${error != null && error.containsKey('password')}" th:text="${error.password}"></div>-->
    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
  </div>
  <div>
    <label for="email">Email</label>
    <div>
<!--      <input id="email" type="email" name="email" th:value="${myuser?.email}">-->
      <input id="email" type="text" th:field="*{email}" />
    </div>
<!--    <div th:if="${error != null && error.containsKey('email')}" th:text="${error.email}"></div>-->
    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
  </div>
  <div>
    <label for="account">Account</label>
    <div>
      <input type="text" id="account" th:field="*{account}" />
    </div>
    <div th:if="${#fields.hasErrors('account')}" th:errors="*{account}"></div>
  </div>
  <div>
    <label for="birthdate">BirthDate</label>
    <div>
      <input type="date" id="birthdate" th:field="*{birthDate}" placeholder="yyyy-MM-dd"/>
    </div>
    <div th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></div>
  </div>
  <div>
    <div>
      <button type="submit">Enviar</button>
    </div>
  </div>
</form>
</body>
</html>